<script type="text/javascript">
  // This object must be rendered before the `result_facets`
  // partial view is rendered so that it is available by
  // the time the facet data is rendered.
  var facetsMoreObj = {};

  // An object with the data for all facets. Each facet is kept in
  // a separate key, for example:
  //    {
  //      facet1: [values...],
  //      facet2: [values...]
  //    }
  //
  // See AddFacetValue() below.
  facetsMoreObj.data = {};

  facetsMoreObj.advanced = false;

  facetsMoreObj.AddFacetValue = function(facetName, value, count, addUrl, removeUrl, sequence) {
    if (facetsMoreObj.data[facetName] === undefined) {
      facetsMoreObj.data[facetName] = [];
    }
    item = {value: value, count: count, addUrl: addUrl, removeUrl: removeUrl, sequence: sequence};
    facetsMoreObj.data[facetName].push(item);
  };

  facetsMoreObj.SortFacetByValue = function(facetName) {
    facetsMoreObj.data[facetName] = facetsMoreObj.data[facetName].sort(function(a,b) {
      // sort ascending
      if (a.value.toUpperCase() < b.value.toUpperCase()) return -1;
      if (a.value.toUpperCase() > b.value.toUpperCase()) return 1;
      return 0;
    });

    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).addClass("active");
    $(sortNumId).removeClass("active");
    facetsMoreObj.GoFirstPage(facetName);
  };

  facetsMoreObj.SortFacetByCount = function(facetName) {
    facetsMoreObj.data[facetName] = facetsMoreObj.data[facetName].sort(function(a,b) {
      // sort descending
      if (a.count < b.count) return 1;
      if (a.count > b.count) return -1;
      return 0;
    });
    var sortAzId = "#modal_form_" + facetName + "_sort_az";
    var sortNumId = "#modal_form_" + facetName + "_sort_num";
    $(sortAzId).removeClass("active");
    $(sortNumId).addClass("active");
    facetsMoreObj.GoFirstPage(facetName);
  };

  facetsMoreObj.PageNum = function(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    return parseInt($(pageNumId).text(), 10);
  };

  facetsMoreObj.FilterFacetValues = function(facetName, filter) {
    var i;
    var items = [];
    if (filter == "") {
      items = facetsMoreObj.data[facetName];
    }
    else {
      for(i = 0; i < facetsMoreObj.data[facetName].length; i++) {
        item = facetsMoreObj.data[facetName][i];
        if (item.value.toUpperCase().includes(filter.toUpperCase())) {
          items.push(item);
        }
      }
    }
    return items;
  }

  facetsMoreObj.Paginate = function(items, pageNum, pageSize) {
    var start = (pageNum - 1) * pageSize;
    var stop = Math.min(items.length, start + pageSize);
    var itemCount = (stop-start) + 1;
    var pageCount = parseInt(items.length / pageSize) + ((items.length % pageSize) == 0 ? 0 : 1);
    var page = {
      start: start,
      stop: stop,
      itemCount: itemCount,
      pageCount: pageCount,
      pageNum: pageNum,
      pageSize: pageSize,
    };
    return page;
  }

  facetsMoreObj.RenderFacet = function(facetName) {
    if (facetsMoreObj.advanced) {
      facetsMoreObj.RenderFacetAdvanced(facetName);
    } else {
      facetsMoreObj.RenderFacetNormal(facetName);
    }
  }

  facetsMoreObj.RenderFacetNormal = function(facetName) {
    var ulId = "#modal_form_" + facetName + "_items";
    var ul = $(ulId);
    var filterId = "#modal_form_" + facetName + "_filter";
    var filter = $(filterId).val();
    var items = facetsMoreObj.FilterFacetValues(facetName, filter);
    var i, item, text_count, checkbox, label, href, html;
    var pageNum, pageSize, page;

    pageNum = facetsMoreObj.PageNum(facetName);
    pageSize = 20;
    page = facetsMoreObj.Paginate(items, pageNum, 20);

    // Render each item as a hyperlink + label OR a hyperlink + remove icon.
    $(ul).children().remove();
    for(i = page.start; i < page.stop; i++) {
      item = items[i];
      if (item.removeUrl == null) {
        // link has the name of the facet to add
        href = "<a href='" + item.addUrl + "' title='" + item.value + "'>" + item.value + "</a>";
        text_count = "(" + item.count + ")";
        html = "<li><span class='facet-text-truncated'>" + href + "</span> <span class='categoryCount'>" + text_count + "</span>"
      } else {
        // link has just the "X" to remove the facet
        href = "<a href='" + item.removeUrl + "' title='" + item.value + "'><span class='glyphicon glyphicon-remove'></span></a>";
        text_count = "(" + item.count + ")";
        html = "<li><span class='facet-text-truncated'>" + item.value + " " + href + "</span> <span class='categoryCount'>" + text_count + "</span>"
      }
      $(ul).append(html);
    }

    if (page.itemCount < page.pageSize) {
      // Insert stub rows to preserve the height of the modal constant,
      // this is useful since the navigation button (prev/next) are
      // at the bottom of the page.
      for(i = page.itemCount; i <= page.pageSize; i++) {
        $(ul).append("<li style='list-style-type: none;'><span class='facet-text-truncated'>&nbsp;</span>");
      }
    }

    facetsMoreObj.TooglePrevNextPage(facetName, page.pageCount);
  };

  facetsMoreObj.RenderFacetAdvanced = function(facetName) {
    var ulId = "#modal_form_" + facetName + "_items";
    var ul = $(ulId);
    var lis = $(ul).children();
    var filterId = "#modal_form_" + facetName + "_filter";
    var filter = $(filterId).val();
    var items = facetsMoreObj.FilterFacetValues(facetName, filter);
    var i, li_class, item, text_count, checkbox, label, href, html;
    var pageNum, pageSize, page;

    li_class = 'modal-li-' + facetName;
    if (lis.length == 0) {
      // First time around, add the <li> elements for this facet
      for(i = 0; i < facetsMoreObj.data[facetName].length; i++) {
        item = facetsMoreObj.data[facetName][i];
        id = facetName + '_' + (item.sequence).toString();
        li_id = 'modal_li_' + id;
        checkbox = '<input type="checkbox" ' +
          'name="' + id + '" ' +
          'id="' + id + '" ' +
          'value="' + item.value + '" ' +
          'class="modal-facet-checkbox-' + facetName + '" ' +
        '/>';
        label = "<span class='facet-text-truncated'>" + item.value + "</span>";
        text_count = "(" + item.count + ")";
        html = '<li class="' + li_class + '" id="' + li_id + '" >' + checkbox + label + "</span> <span class='categoryCount'>" + text_count + "</span>"
        $(ul).append(html);
      }
    }

    // Hide them all and then make visible the ones that fit on the page
    $("." + li_class).addClass("hidden");
    pageNum = facetsMoreObj.PageNum(facetName);
    pageSize = 20;
    page = facetsMoreObj.Paginate(items, pageNum, 20);
    for(i = page.start; i < page.stop; i++) {
      item = items[i];
      li_id = "#modal_li_" + facetName + '_' + item.sequence;
      $(li_id).removeClass("hidden");
    }

    if (page.itemCount < page.pageSize) {
      // Insert stub rows to preserve the height of the modal constant,
      // this is useful since the navigation button (prev/next) are
      // at the bottom of the page.
      //
      // TODO: This ends up adding more and more <li> elements to the DOM
      // as the user filters the facet values. However because we hide all
      // <li> elements before we update the screen this is not visible to
      // the user. Yet, those extra <li> elements are in the DOM. We should
      // figure out a cleaner way to handle this.
      html = "<span class='facet-text-truncated'>&nbsp;</span>";
      for(i = page.itemCount; i <= page.pageSize; i++) {
        $(ul).append('<li class="' + li_class + '" style="list-style-type: none;">' + html);
      }
    }
    facetsMoreObj.TooglePrevNextPage(facetName, page.pageCount);
  };

  facetsMoreObj.TooglePrevNextPage = function(facetName, pageCount) {
    var prevLinkId = "#modal_form_" + facetName + "_prev_link";
    var nextLinkId = "#modal_form_" + facetName + "_next_link";
    var pageNum = facetsMoreObj.PageNum(facetName)

    if (pageNum == 1) {
      $(prevLinkId).unbind("click");
      $(prevLinkId).addClass("disabled");
    } else {
      $(prevLinkId).bind("click");
      $(prevLinkId).removeClass("disabled");
    }

    if (pageNum >= pageCount) {
      $(nextLinkId).unbind("click");
      $(nextLinkId).addClass("disabled");
    } else {
      $(nextLinkId).bind("click");
      $(nextLinkId).removeClass("disabled");
    }
  };

  facetsMoreObj.GoPrevPage = function(facetName) {
    var pageNum = facetsMoreObj.PageNum(facetName)
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(pageNum - 1);
    facetsMoreObj.RenderFacet(facetName);
  };

  facetsMoreObj.GoNextPage = function(facetName) {
    var pageNum = facetsMoreObj.PageNum(facetName)
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(pageNum + 1);
    facetsMoreObj.RenderFacet(facetName);
  }

  facetsMoreObj.GoFirstPage = function(facetName) {
    var pageNumId = "#modal_form_" + facetName + "_page_num";
    $(pageNumId).text(1);
    facetsMoreObj.RenderFacet(facetName);
  }
</script>
