<div>
    <h3>We are sorry, no results matched your search.</h3>
    <ul>
        <li>Consider searching with different terms.
        <li>Double check spelling.
        <li>Start over with a <a href="<%= root_url() %>">new search</a>.
    </ul>
</div>
