<form method="POST" action="<%= upload_file_url %>" enctype="multipart/form-data">
    <p>File: <input type="file" id="file" name="file"></input></p>
    <p>Overwrite: <input type="checkbox" id="overwrite" name="overwrite"></input></p>
    <p><input type="submit" id="submit" name="submit" value="Submit">
</form>