
/*
Sources:
    Two-column layout: https://www.thesitewizard.com/css/design-2-column-layout.shtml
    Horizontal menu: http://css-snippets.com/simple-horizontal-navigation/
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

.topbar {
	color: white;
	background-color: #1e5a95;
	height: 30px;
	font-size: 20px;
    padding-left: 10px;

    width: 100%;
    margin-left: 290px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.topbar a {
    color: white;
    text-decoration: none;

}

.topbar a:hover {
    text-decoration: underline;
}

.top_menu {
    width: 100%;
    height: 52px;
    margin-left: 270px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color:rgb(248, 248, 248);
}

/* left menu */
.nav_column {
    position: fixed;
    top: 2px;
    /* display: block; */
    left: 2px;
    width: 270px;
    max-height: 99%;
    height: 100%;
    overflow: auto;
    background-color:white;
    border: 1px solid #333;
    border-radius: 4px;
}

.nav_column h3 {
    color: white;
    background-color: #1e5a95;
    padding: 10px 10px;
    margin-top: 0px;
}

.right_two_thirds {
    margin-left: 270px;
    padding-left: 15px;
}

/* TODO: rename "nav" to top_menu */
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    display: block;
}

.nav a:hover {
    color:black;
    background-color: darkgray;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    display: inline-block;
    border-bottom: none;
    height: 50px;
    line-height: 25px;
    padding: 15px;
}

/* TODO: rename "nav" to left_menu */
.nav_section {
    margin-left: -20px;
}

.nav_section li {
    list-style: none;
    padding-bottom: 5px;
}

.nav_inv_series {
    margin-left: -20px;
}

.nav_inv_series li {
    list-style: disc;
}

h1 {
    margin-top: 0px;
    color: #254085;
}

h2 {
    margin-top: -20px;
    margin-bottom: 0px;
    color: #254085;
}

h3 {
    font-size: 1.2em;
    margin-top: 21px;
    margin-bottom: 9px;
    color: #254085;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table {
    line-height: 20px;
}

.category_column {
    padding-right: 18px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

td {
    padding-bottom: 9px;
}

.info_column {
    padding-right: 18px;
    text-align: left;
    vertical-align: bottom;
}

#content {
    overflow: auto;
    padding-left: 15px;
}

#sponsor_footer {
    /* width: 100%; */
    margin-left: 290px;
    margin-right: 15px;
    padding-left: 25px;
    background-color:#e4e8f0;
}

#main_text a:link {
    color: #254085;
    text-decoration: none;
}

#main_text a:link {
    color : #254085;
    text-decoration : none;
}

#main_text a:visited {
    color : #254085;
    text-decoration : none;
}

#main_text a:hover {
    color : #254085;
    text-decoration : underline;
}

.table_section_header {
    font-weight: bold;
}

.table_inventory {
    text-align: left;
    border-collapse: collapse;
}

.table_inventory > tbody > tr:nth-child(even) {
    background-color: #eee;     /* light gray */
}