/*
Sources:
    Two-column layout: https://www.thesitewizard.com/css/design-2-column-layout.shtml
    Horizontal menu: http://css-snippets.com/simple-horizontal-navigation/
*/
.top_menu {
    width: 100%;
    height: 50px;
    margin-top: -20px;
    background-color:rgb(248, 248, 248);
}

/* left menu */
.nav_column {
    float: left;
    width: 15%;
    background-color:#f0f2f7;
    min-width: 200px;
}

.right_two_thirds {
    float: left;
    width: 80%;
    padding-left: 15px;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    display: block;
}

.nav a:hover {
    color:black;
    background-color: darkgray;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    display: inline-block;
    border-bottom: none;
    height: 50px;
    line-height: 25px;
    padding: 15px;
    margin-right: -4px;
}

h3 {
    font-size: 1.2em;
    margin-top: 21px;
    margin-bottom: 9px;
    color: #254085;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table {
    /* font-size: 1.33em; */
    line-height: 20px;
}

.category_column {
    padding-right: 18px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

td {
    padding-bottom: 9px;
}

.info_column {
    padding-right: 18px;
    text-align: left;
    vertical-align: bottom;
}

#content {
    overflow: auto;
}

#sponsor_footer {
    width: 100%;
    background-color:#f0f2f7;
}


#main_text a:link {
    color: #254085;
    text-decoration: none;
}

#main_text a:link {
    color : #254085;
    text-decoration : none;
}

#main_text a:visited {
    color : #254085;
    text-decoration : none;
}

#main_text a:hover {
    color : #254085;
    text-decoration : underline;
}