<div>HEADER GOES HERE</div>
<div>
    <embed
        src="<%= ead_raw_file_path(eadid: @ead_id, filename: @filename) %>"
        type="application/pdf" height="100%" width="100%">
</div>
<div>FOOTER GOES HERE</div>


