<div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-default" href="<%= home_finding_aid_path() %>">What Is a Finding Aid?</a>
    <a class="btn btn-default" href="<%= home_glossary_path() %>">Glossary</a>
    <a class="btn btn-default" href="<%= home_visit_path() %>">Plan Your Visit</a>
</div>