<div class="container">
  <div class="row">
  <h1>About This Project</h1>
      <h2><a href="participating.html">Participating Institutions</a> &nbsp;&#124&nbsp; <a href="links.html">Links</a> &nbsp;&#124&nbsp; <a href="resources.html">Project Resources</a></h2>
      <p>The Rhode Island Archival and Manuscript Collections Online (RIAMCO) gateway provides access to archival and manuscript collections throughout Rhode Island.  Researchers can locate collections relating to their research at ten Rhode Island repositories through one comprehensive website regardless of physical location.  Individual or family papers that are split among repositories can be intellectually reunited as a result of online finding aids and the application of sophisticated search technologies developed in this project. </p>
      <p>Through the application of Encoded Archival Description (EAD) finding aids, RIAMCO collocates dispersed but overlapping collections about the history of Rhode Island drawn from public, private, and university repositories across the state, fashioning a union web resource hosted and supported by Brown University. </p>
      <p>Rhode Island’s history, from a colony for religious dissidents, an ardent contributor to the American Revolution and the birth of the United States through its role in the Industrial Revolution and the Civil War to the Great Depression, World War II, and the turmoil of the 1960’s, is documented in the archival and manuscript collections housed in Rhode Island’s special collections repositories. </p>
      <p>The material documented in RIAMCO spans the history of the early Americas to the present day and provides valuable insight into a range of topics including business, maritime history, the Civil War, slavery, literature, church history, immigration, politics, diplomatic history, art and architecture, military history, labor, health and medicine, state and local government, higher education, and Native Americans.</p>
      <br />
      <h1><a href="http://www.riamco.org/join.html">Join RIAMCO!</a></h1>
  </div>
</div>

<script> 
  $(function() {
    $("#q").focus(); // Force focus to the search textbox
    $("#nav_about").addClass("active");
  });
</script>