<div class="container">
  <div class="row">
    <h1>Contact</h1>
    <ul>
        <li><a href="http://www.bhpsri.org/">Bristol Historical &amp; Preservation Society</a> &nbsp;&#124&nbsp; <a
        href="mailto:info@bhps.necoxmail.com"
        >info@bhps.necoxmail.com</a></li>
        <li><a
            href="http://library.brown.edu/about/hay/index.php"
            >Brown University Special Collections</a>
        &nbsp;&#124&nbsp; <a href="mailto:hay@brown.edu"
            >hay@brown.edu</a><br />
        <a
            href="http://library.brown.edu/collections/archives/"
            >Brown University Archives</a> &nbsp;&#124&nbsp;
            <a href="mailto:archives@brown.edu"
            >archives@brown.edu</a></li>
        <li><a
        href="http://www.brown.edu/Facilities/Haffenreffer/"
        >Haffenreffer Museum of Anthropology</a> &nbsp;&#124&nbsp;
        <a href="mailto:haffenreffermuseum@brown.edu"
            >haffenreffermuseum@brown.edu</a></li>
    
        <li><a
        href="http://www.historicnewengland.org/"
        >Historic New England</a> &nbsp;&#124&nbsp;
        <a href="mailto:archives@historicnewengland.org"
            >archives@historicnewengland.org</a></li>
    
        <li><a
        href="http://www.jamestownhistoricalsociety.org/"
        >Jamestown Historical Society</a> &nbsp;&#124&nbsp;
        <a href="mailto:collections@jamestownhistoricalsociety.org"
            >collections@jamestownhistoricalsociety.org</a></li>
        <li><a
            href="http://www.brown.edu/Facilities/John_Carter_Brown_Library/"
            >John Carter Brown Library</a> &nbsp;&#124&nbsp;
            <a href="mailto:JCBL_Archives@Brown.edu"
            >JCBL_Archives@Brown.edu</a></li>
        <li><a href="http://www.usnwc.edu/Departments---Colleges/Library/RightsideLinks/Naval-Historical-Collection.aspx/">Naval
            War College</a> &nbsp;&#124&nbsp; <a
                href="mailto:nhc@usnwc.edu"
                >nhc@usnwc.edu</a></li>
    <li><a href="http://www.newportartmuseum.org/"
        >Newport Art Museum</a>
    <li><a href="http://www.newporthistorical.org/">Newport
            Historical Society</a> &nbsp;&#124&nbsp; <a
                href="mailto:research@newporthistory.org"
                >research@newporthistory.org</a></li>
    <li><a href="http://www.nklibrary.org/">North Kingstown
            Free Library</a> &nbsp;&#124&nbsp; <a
            href="mailto:nkiref@nklibrary.org"
            >nkiref@nklibrary.org</a></li>
        <li><a
            href="http://www.newportmansions.org/"
            >Preservation Society of Newport County</a> &nbsp;&#124&nbsp; <a
                href="mailto:info@newportmansions.org"
                >info@newportmansions.org</a></li>
        <li><a href="https://providenceathenaeum.org/"
            >Providence Athenaeum</a> &nbsp;&#124&nbsp; <a
                href="mailto:info@providenceathenaeum.org"
                >info@providenceathenaeum.org</a></li>
        <li><a href="https://www.providenceri.com/archives"
            >Providence City Archives</a>
    <li><a href="http://www.providence.edu/library/spcol/"
            >Providence College Special and Archival
            Collections</a> &nbsp;&#124&nbsp; <a
            href="mailto:pml.archives@providence.edu"
            >pml.specoll@providence.edu</a></li>
    <li><a href="http://www.provlib.org/special-collections"
        >Providence Public Library</a> &nbsp;&#124&nbsp; <a
            href="mailto:jgoffin@provlib.org"
            >jgoffin@provlib.org</a></li>
    <li><a href="http://www.redwoodlibrary.org/">Redwood Library and Athenaeum</a>
        &nbsp;&#124&nbsp; <a
            href="redwood@redwoodlibrary.org"
            >redwood@redwoodlibrary.org</a></li>
    
            <li><a href="http://library.ric.edu/">Rhode Island College Special Collections</a>
                &nbsp;&#124&nbsp; <a
                    href="mailto:digitalcommons@ric.edu"
                    >digitalcommons@ric.edu</a></li>        
            
    <li><a href="http://www.rihs.org/libraryhome.htm">Rhode
            Island Historical Society Library</a>
        &nbsp;&#124&nbsp; <a
            href="mailto:reference@rihs.org"
            >reference@rihs.org</a></li>
    <li><a href="http://www.risd.edu/archives.cfm">Rhode
            Island School of Design Archives</a>
        &nbsp;&#124&nbsp; <a
            href="mailto:risdarchives@risd.edu"
            >risdarchives@risd.edu</a></li>
    <li><a href="http://sos.ri.gov/archives/">Rhode Island
            State Archives</a> &nbsp;&#124&nbsp; <a
            href="mailto:statearchives@sos.ri.gov"
            >statearchives@sos.ri.gov</a></li>
    <li><a href="http://library.rwu.edu/about/archives.php"
            >Roger Williams University Archives</a>
        &nbsp;&#124&nbsp; <a href="mailto:archives@rwu.edu"
            >archives@rwu.edu</a></li>
    <li><a href="http://library.salve.edu/archives/">Salve
            Regina University Archives</a> &nbsp;&#124&nbsp;
            <a href="mailto:archives@salve.edu"
            >archives@salve.edu</a><br />
        <a href="http://library.salve.edu/spec-col/">Salve
            Regina University Special Collections</a></li>
        <li><a
                href="https://www.tomaquagmuseum.org/"
                >Tomaquag Museum</a> &nbsp;&#124&nbsp; <a
                    href="mailto:slarose@tomaquagmuseum.org"
                    >slarose@tomaquagmuseum.org</a></li>
            
        <li><a
            href="http://www.uri.edu/library/special_collections/"
            >University of Rhode Island Special Collections
            and University Archives</a> &nbsp;&#124&nbsp; <a
            href="mailto:archives@etal.uri.edu"
            >archives@etal.uri.edu</a></li>
    <li><a
            href="http://www.westerlylibrary.org/contentmgr/showdetails.php/id/18"
            >Westerly Public Library Special Collections</a>
        &nbsp;&#124&nbsp; <a
            href="mailto:archives@etal.uri.edu"
            >reference@westerlylibrary.org</a></li>
    </ul>

    <h2><a href="http://www.riamco.org/join.html">Join RIAMCO!</a></h2>

    <p>If you are a representative of a Rhode Island library,
    archive, museum, or other repository interested in
    joining RIAMCO please contact:</p>

    <p>Karen Eberhart<br />
    Manuscripts Processing Archivist<br />
    Brown University<br />
    John Hay Library, Box A<br />
    Providence, RI 02912<br />
    E-mail: <a href="mailto:contact@riamco.org">contact@riamco.org</a><br />
    Telephone: (401) 863-5309</p>    
  </div>
</div>