<div class="container">
    <div class="row">
        <h1>Copyright Statement</h1>
        <p>The contents of the Rhode Island Archival and Manuscript Collections Online (RIAMCO) database are made publicly available by the collection holding repositories for use in research, teaching, and private study. For these purposes, you may reproduce a single copy (print or download) of materials from this website without prior permission.</p>
        <p>All items may be protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some items may also be subject to additional restrictions imposed by the copyright owner and/or the repository. Thus transmission or reproduction of more than a single research or teaching copy or a protected item requires the permission of the copyright owner.</p>
        <p>Please contact the collection holding repository for available information regarding copyright status of a particular digital image, text, audio or video recording.</p>
        <p>The nature of historical archival and manuscript collections often makes it difficult to determine the copyright status of an item. Whenever possible, RIAMCO and the collection holding repository provide available information about copyright owners and other restrictions in the catalog records, collection finding aids, and other metadata associated with digital images, texts, audio and video recordings.</p>
        <p>RIAMCO and the holding repositories provide the aforementioned information as a service to aid users in determining the copyright status of an item. Ultimately, however, it is the user&#39;s responsibility to use an item according to the terms governing its use.</p>
        <p>The owning repositories are eager to hear from any copyright owners who are not properly identified so that appropriate information may be provided to researchers and teachers in the future.<br />
        </p>

        <h1>Conditions of Use</h1>
        <p>By their use of these digital images, texts, audio and video recordings, users agree to follow these conditions of use:</p>
        <ul>
            <li>for purposes of research, teaching and private study, users may reproduce (print or download) in accordance with fair use materials or link to materials from this website without prior permission, on the condition they give proper credit of the collection owning repository</li>
            <li>materials may not be used for any commercial purpose without prior written permission from the copyright owner</li>
            <li>materials may not be re-published in print or electronic form without prior written permission from the copyright owner</li>
            <li>materials may not be mounted on an additional server for public use, or for use by a set of subscribers without prior written permission from the copyright owner</li>
        </ul>
    </div>
</div>
  
