<style>
    .small-link {
        font-size: small;
    }
</style>

<div class="container">
    <div class="row">
        <h1>Frequently Asked Questions</h1>

        <h2>What is RIAMCO?</h2>
        <p>The Rhode Island Archival and Manuscript Collections Online (RIAMCO)
            provides access to archival and manuscript collections throughout
            Rhode Island. Researchers can locate collections from multiple
            institutions relating to their research through one comprehensive
            website regardless of physical location.</p>

        <h2>Does RIAMCO have archival and manuscripts in its collection?</h2>
        <p>No. RIAMCO is not a repository or institution. RIAMCO provides
            online inventories of archival materials found at multiple Rhode
            Island repositories, including museums, historical societies, and
            archives. These inventories are known as “finding aids,” and each
            finding aid provides a guide to a collection with links to the
            institution that owns the original materials.</p>

        <h2>What Is a Finding Aid?</h2>
        <p>A finding aid, or collection guide, provides you with the
            information you need to determine if a collection contains useful information for
            your research. The purpose of the finding aid is to describe a collection’s
            context, materials, associated collections, and other such information. The
            RIAMCO website is a collection of online finding aids.</p>

        <h2>How to Search or Browse</h2>
        <p>Use the Search Box on the <a href="<%= root_path() %>">RIAMCO Home page</a> to find a word (or words) appearing
            anywhere within RIAMCO finding aids. <a href="advanced_search">Advanced Search</a> will
            allow you to specify
            where in the documents to look for the words you enter and to limit your search
            to one or more specific institutions. The <a href="help_advanced_search">Advanced Search Help</a>
            page provides
            explanations of advanced search terms and search tips.</p>

        <p>Use <a href="search">Browse</a> to find lists of archival collections under the name of an institution
            or by the subject of the collections.</p>

        <h2>I found something I’d like to see; how do I view the original?</h2>
        <p>If you have a question about an archival collection, image, or text that you
            found through this site, or would like to see the original version of an
            online item, you will need to contact the repository that owns the item.
            Look at the top of the finding aid page describing the item you wish to
            see to locate the contact information for the repository that owns it.</p>

        <p>You can also find contact information for all repositories in the RIAMCO
            consortium by going to the <a href="contact">Contact a Repository</a> page of this website.</p>

        <h2>How do I contact a Repository?</h2>
        <p>To locate contact information for a repository, go to the <a href="contact">Contact a Repository</a>
            page of this website.</p>

        <h2>How do I cite an image or text in a paper or presentation?</h2>
        <p>The citation format may vary from institution to institution. Consult the
            individual finding aid’s <i>Access and Use</i> section for citation information.</p>

        <h2>How do I obtain permission to publish or reproduce an image or text?</h2>
        <p>RIAMCO does not own any of these materials, but only hosts descriptions of
            them online. The contents of the RIAMCO database are made publicly-available
            by the repositories who own the collections. These materials are intended
            to be used for research, teaching, and private study. All items may be
            protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some
            items may also be subject to additional restrictions imposed by the copyright
            owner and/or the repository.</p>

        <p>Please contact the repository that owns the collection for information about
            the copyright status of a particular digital image or text. For permission
            to publish or obtain a reproduction of a particular collection item,
            please contact the institution directly.</p>

        <h2>Does RIAMCO appraise collections?</h2>
        <p>RIAMCO does not offer appraisal services. If you have an item that you feel one
            of the RIAMCO contributing repositories would be interested in or might have
            more information about, you will need to contact the repository directly.
            To locate contact information for a repository, go to the <a href="contact">Contact a Repository</a>
            page of this website.</p>

        <h2>What are the benefits of joining RIAMCO?</h2>
        <p>Joining RIAMCO will raise awareness of the unique, primary source material
            available in your institution and you will benefit from the technology and
            training offered by RIAMCO. Please see
            <a href="join">Become a Participating Institution</a>
            for additional information.</p>

        <h2>Can my institution join RIAMCO?</h2>
        <p>Please fill out and submit the
            <a href="http://riamco.org/RIAMCOApplication.pdf" target="_blank">RIAMCO Application</a>
            or e-mail <a href="mailto:contact@riamco.org">contact@riamco.org</a> for information on how
            a Rhode Island library, archive, museum, or other repository may join RIAMCO.</p>

        <!-- <a name="answer1" id="answer1"></a> -->
    </div>
</div>

