<style>
    .small-link {
        font-size: small;
    }
</style>

<div class="container">
    <div class="row">

        <h1>Frequently Asked Questions</h1>
        <ol>
            <li><a href="faq.html#answer1">What&#39;s available on this website?</a></li>
            <li><a href="faq.html#answer2">Who do I ask about an archival collection, image, or text? How do I view the original version?</a></li>
            <li><a href="faq.html#answer3">How do I obtain permission to publish or reproduce an image or text?</a></li>
            <li><a href="faq.html#answer4">How do I cite an image or text in a paper or presentation?</a></li>
            <li><a href="faq.html#answer5">Does RIAMCO appraise collections?</a></li>
            <li><a href="faq.html#answer6">Can my institution join RIAMCO?</a><br />
            <li><a href="faq.html#answer7">What are the benefits of joining RIAMCO?</a><br />
            </li>
        </ol>

        <a name="answer1" id="answer1"></a>
        <h2>1. What&#39;s available on this website?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>Rhode Island Archival and Manuscript Collections Online (RIAMCO) brings together historical materials from a variety of Rhode Island repositories, including museums, historical societies, and archives. These historical materials consist of items such as legal documents from a company or organization, a person’s diary, or historical photographs. RIAMCO  does not own any of these materials, but only hosts descriptions of them online.</p>
        <p>RIAMCO provides an online inventory of these materials, also known as a finding aid, and links to the institutions that own the originals. For example, the Rhode Island State Archives in Providence owns the archival records of the Rhode Island School for the Deaf (which include records and photographs). The Rhode Island State Archives created an inventory of these files, which RIAMCO makes available online. </p>
        
        <a name="answer2" id="answer2"></a>
        <h2>2. Who do I ask about an archival collection, image, or text? How do I view the original version??&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>If you have a question about an archival collection, image, or text that you found through this site, or if would like to see the original version of an online item, you will need to contact the repository that owns the item. RIAMCO does not own any of these materials, but only hosts descriptions of them online.</p>
        <p>To locate contact information for a repository, click on the name of repository in the &quot;Want to Learn More?&quot; box displayed at the bottom of the item&#39;s page.<br />
        </p>

        <a name="answer3" id="answer3"></a>
        <h2>3. How do I obtain permission to publish or reproduce an image or text?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>The contents of the RIAMCO database are made publicly-available by the repositories who own the collections. These materials are intended to be used for research, teaching, and private study. All items may be protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some items may also be subject to additional restrictions imposed by the copyright owner and/or the repository.</p>
        <p>Please contact the repository that owns the collection for information about the copyright status of a particular digital image or text. For permission to publish or obtain a reproduction of a particular collection item, please also contact the institution directly. <em><strong>RIAMCO does not own any of these materials, but only hosts descriptions of them online.</strong></em></p>
        <p>To locate contact information for the repository, click on the name of the repository in the &quot;Want to Learn More?&quot; box displayed at the bottom of the item&#39;s page.</p>
        <p>For more information, see the <a href="copyright.html">RIAMCO Copyright Statement &amp; Conditions of Use</a>.<br />
        </p>

        <a name="answer4" id="answer4"></a>
        <h2>4. How do I cite an image or text in a paper or presentation?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>The citation format may vary from institution to institution.  Consult the individual finding aid’s Access and Use page for citation information.<br />
        </p>

        <a name="answer5" id="answer5"></a>
        <h2>5. Does RIAMCO appraise collections?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>RIAMCO does not offer appraisal services. If you have an item that you feel one of the RIAMCO contributing repositories would be interested in or might have more information about, you will need to contact the repository directly.</p>
        <p>To locate contact information for the institution, click on the name of institution in the &quot;Want to Learn More?&quot; box displayed at the bottom of the item&#39;s page.</p>
        <p>Alternatively, see the list of <a href="participating.html">Participating Institutions</a>.</p>
        <a name="answer6" id="answer6"></a>

        <h2>6. Can my institution join RIAMCO?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>Please fill out and submit the <a href="RIAMCOApplication.pdf">RIAMCO Application</a> or e-mail <a href="mailto:contact@riamco.org">contact@riamco.org</a> for information on how a Rhode Island library, archive, museum, or other repository may join RIAMCO.</p>

        <a name="answer7" id="answer7"></a>
        <h2>7. What are the benefits of joining RIAMCO?&nbsp;&nbsp;&nbsp;<a class="small-link" href="faq.html">[ top ]</a></h2>
        <p>Joining RIAMCO will raise awareness of the unique, primary source material available in your institution and you will benefit from the technology and training offered by RIAMCO.  Please see <a href="join.html">Join RIAMCO</a> for additional information.</p>

    </div>
</div>
    
