<style>
    .small-link {
        font-size: small;
    }
</style>
<div class="container">
  <div class="row">
    <h1><a href="/glossary">Glossary </a>&#124&nbsp; <a href="visit">Plan Visit </a></h1>
    <p>&nbsp;</p>
    
    <h2>What Is a Finding Aid?</h2>
    <p>The RIAMCO website is a  collection of online finding aids. 
    A finding aid, or collection guide, provides  you with the information 
    you need to determine if a collection contains the types of materials 
    you need for your research. The purpose of the finding aid is to 
    describe a collection’s context, materials, associated collections, 
    and other such information.</p>
    
    <p>To make this information more digestible, 
    the finding  aids in RIAMCO are divided into seven, sometimes eight, 
    distinct sections.</p> 
        
    <h3>Collection Overview
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&view=overview" target="_blank">view example</a>)</span>
    </h3>
    <p>Provides:</p>
    <ul>
        <li>Identification of collection: collection title,  collection number, date range, language and creator of the materials, and  abstract of collection’s contents</li>
        <li>Size (or  extent) of collection – 1 linear foot = 1 Banker’s box</li>
        <li>Name of  repository housing the materials </li>
    </ul>
            
    <h3>Scope &amp; Content Note
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=scope" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>The Scope and Content offers you the information you need to determine if a collection will 
    be of use  to you. It describes:</p>
    <ul>
        <li>Types of material are  found in the collection </li>
        <li>Significant components  of the collection</li>
        <li>How the collection is  organized, or what order may have been imposed by the creator</li>
        <li>Avenues of research that  might be supported by the collection</li>
        <li>Relationships or  connections that may exist with other archival collections</li>
    </ul>
            
    <h3>Arrangement
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=arrangement" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>Informs you about the way the  materials are organized – usually explaining the Series and 
    Subseries into  which the materials are divided (<a href="/glossary">see glossary</a>)</p>
            
    <h3>Biographical/Historical note
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=biography" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>Provides:</p>
    <ul>
        <li>Context for the  collection: Who created the collection? Why? When?</li>
        <li>Historical and/or  biographical information about the creator of the materials</li>
    </ul>
            
    <h3>Access &amp; Use
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=access" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>Explains:</p>
    <ul>
        <li>How much notice is needed to access  materials for you</li>
        <li>Any possible restrictions on the  materials (see glossary)</li>
        <li>Preferred citation for the  collection should you use it in your publication or project</li>
        <li>Contact information for the  repository that houses the collection</li>
    </ul>
            
    <h3>Administrative Information
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=administrative" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>Includes various components  depending on the collection:</p>
    <ul>
        <li>Acquisition statement: Who gave the  materials to the repository? When? Under what conditions?</li>
        <li>Accruals: Will there be any further  additions to this collection?</li>
        <li>Author of the finding aid: the  person who wrote the scope and content note, the biographical note, and other  components of the finding aid</li>
    </ul>
    
    <h3>Additional Information</h3>
    <p>This section is not present in every  finding aid, as it is not always needed. It offers:</p>
    <ul>
        <li>Information about associated  collections located within the repository</li>
        <li>Location information for related  collections at other repositories</li>
    </ul>
    
    <h3>Inventory
    <span class="small-link">(<a href="http://riamco.org/render.php?eadid=US-RPB-ms78.13&amp;view=inventory" target="_blank">view example</a>)</span></h3>
    </h3>
    <p>The inventory functions  as a roadmap to the collection. It generally offers at minimum:</p>
    <ul>
        <li>Series and subseries  titles (see glossary) with brief descriptions of the materials within the  series or subseries</li>
        <li>A description of the  materials located in each box within the collection</li>
        <li>Occasionally, a list of  the folder titles within a box</li>
    </ul>
  </div>
</div>
