<%= render "search_form_big" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to the Rhode Island Archival and Manuscript Collections Online.</h2>

      <p>The Rhode Island Archival and Manuscript Collections Online (RIAMCO)
    is the gateway to information about archival collections in Rhode Island.
    Search the finding aids to discover what historical materials are available
    for research and where those collections are located.
    The <a href="http://www2.archivists.org/glossary/terms/f/finding-aid" target="_blank">finding aids</a>
    give detailed descriptions of
    <a href="http://www2.archivists.org/glossary/terms/p/primary-source" target="_blank">primary source</a>
    materials located at repositories across Rhode Island.</p>

      <p>RIAMCO is directed by an Executive Committee with representatives from each of the 25 consortium members:</p>
      <ul>
        <% @presenter.institutions.each do |inst| %>
          <li><%= inst[:name] %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#q").focus(); // Force focus to the search textbox
  });
</script>
