<%= render "search_form_big" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>&nbsp;</p>
      <p>Use this site to explore the wealth of archival and manuscript
      collections housed in public, private, and university repositories
      across Rhode Island. Browse by holding repository, date, subject, etc.
      or begin a search above. Discover what historical materials are available
      for research throughout the state.</p>

      <h2>What can I expect to find?</h2>
      <p>The finding aids, descriptive inventories, and collection notes
        available on this site provide access to archival and manuscript
        collections documenting the history of Rhode Island and many
        other subjects. These materials may range in size from a single
        hand-written letter to hundreds of boxes of records and can include
        photographs, original manuscripts, personal papers, and more.
        Contact the holding repository directly about visiting the collections.</p>

      <h2>What is RIAMCO?</h2>
      <p>Rhode Island Archival and Manuscript Collections Online (RIAMCO) is
        a gateway to the archival and manuscript collections in Rhode Island.
        The collections on this site document Rhode Island’s history from
        its origin as a colony of religious dissidents. RIAMCO is directed
        by an Executive Committee with representatives from each of the
        consortium members.</p>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#q").focus(); // Force focus to the search textbox
  });
</script>
