<div class="container">
  <div class="row">
    <h1>Join RIAMCO as a participating institution</h1>
    <p>RIAMCO welcomes new participating repositories! New repositories receive customized training, 
    established templates, and support from a network of colleagues.</p>
      
    <p>Prospective participants must:
    <ul>
        <li>be located in Rhode Island or have collections related to Rhode Island history
        <li>have archival collections
    </ul>

    <p>Staff at participating repositories are encouraged take part in RIAMCO governance 
    and committee work.</p>

    <p>Once you have reviewed the consortium’s benefits and policies, please complete a 
    <a href="RIAMCOApplication.pdf">RIAMCO Application</a> and submit it via e-mail or 
    regular mail. You will be contacted by a RIAMCO representative to review the information 
    you have provided, present an overview of RIAMCO, describe RIAMCO’s requirements for 
    Encoded Archival Description (EAD) finding aids, and discuss strategies for preparing 
    and submitting your encoded finding aids.</p>

    <p>You will be notified when your repository has been approved for inclusion in RIAMCO. 
    At that point, your repository will be established as a participating member and your 
    primary contact(s) will be subscribed to the RIAMCO listserv for updates. After a member 
    (or members) of your repository staff have completed RIAMCO training, your repository 
    will receive account information for the Submission Database which will be used to 
    submit EAD finding aids for review or publication.</p>

    <h2>Benefits</h2>
    <p>RIAMCO participants receive a number of benefits. The most important benefit is 
    that participation is a cost-effective way to expand services and improve efficiency. 
    The increased access that EAD finding aids offer will improve the ability of 
    repositories to serve their researchers.</p>

    <p>Participants gain the ability to create EAD finding aids and add those finding aids 
    to the RIAMCO database, which provides a cross-search capability for repositories, 
    and places participants&#39; collections into context with related collections from other 
    institutions. </p>

    <p>RIAMCO participants retain copyright of the finding aids they place in the RIAMCO 
    database and are credited in all dissemination efforts.</p>

    <p>The consortium provides the resources to:</p>
    <ul>
        <li>Provide database administration;
        <li>Develop and program the search and retrieval system;
        <li>Develop and support tools for encoding and verifying the compliance of finding aids;
        <li>Produce reports in support of assessment activities;
        <li>Support and respond to usability testing;
        <li>Provide technical consultation on the program&#39;s best practices;
        <li>Provide long-term maintenance in the form of global changes/updates.
    </ul>

    <p>The consortium also centralizes a number of other technical functions:</p>
    <ul>
        <li>Software and hardware for the search and retrieval system;
        <li>Stylesheet development and support;
        <li>Website support;
        <li>Usability testing;
        <li>Developing and maintaining the consortium&#39;s best practices;
        <li>Dealing with compliance issues.
    </ul>

    <p>The training session for new members focuses on EAD and best practices for EAD and the 
    RIAMCO. This training incorporates the basic requirements of Describing Archives: 
    A Content Standard (DACS). The Project Manager or designated RIAMCO participant will 
    provide the initial training.  </p>

    <p>In support of the technical and training functions, the consortium provides administrative 
    and marketing services. These include:</p>
    <ul>
        <li>Governance; </li>
        <li>Coordination of the overall program; </li>
        <li>Dissemination to research communities; </li>
        <li>Identifying and applying for grants; </li>
        <li>Recruiting new members; </li>
        <li>Developing new programs. </li>
    </ul>

    <h2>Requirements</h2>
    <p>Each participating repository may designate one individual to represent it on the 
    RIAMCO Executive Committee. Those representatives will attend a minimum of one 
    meeting per year.  The chair of the Executive Committee will rotate each year.</p>

    <p>One staff member per repository may serve on a committee or provide training 
    to new members. The extent to which repositories contribute finding aids to the 
    database is entirely at the discretion of the repository; the consortium does 
    not set specific annual quotas or goals for participants to meet. </p>

    <p>At least one computer per repository must meet the technical requirements 
    necessary to create EAD finding aids.  Repositories are encouraged to consider 
    NoteTab Pro software (http://www.notetab.com/) but RIAMCO does accommodate other 
    tools (such as Oxygen, Archivists’ Toolkit, and MINT) that create finding aids. 
    Internet access is necessary in order to validate and upload encoded finding aids.  </p>

    <h2>Withdrawing from RIAMCO</h2>
    <p>Repositories many discontinue their relationship with RIAMCO at any time. 
    There are two options to withdrawing:</p>
    <ul>
        <li>Withdraw from RIAMCO and no longer submit new finding aids but continue to 
        have published finding aids available through RIAMCO. Former participants retain 
        the right to update existing finding aids on the website but no longer have a say 
        in the management of RIAMCO.
        <li>Withdraw completely from RIAMCO and remove finding aids from the RIAMCO database.
    </ul>

    <p>If you are a representative of a Rhode Island library, archive, museum, or other 
    repository interested in joining RIAMCO please contact:</p>
    <p>Karen Eberhart<br />
    Manuscripts Processing Archivist<br />
    Brown University<br />
    John Hay Library, Box A<br />
    Providence, RI 02912<br />
    E-mail: <a href="mailto:contact@riamco.org">contact@riamco.org</a><br />
    Telephone: (401) 863-5309</p>
  </div>
</div>