<div class="container">
    <div class="row">
        <h2>Benefits of Membership in RIAMCO</h2>
        <p>Joining RIAMCO will raise awareness of and access to the unique, archival collections
            available in your institution, including manuscripts, artifacts, data sets, and other
            primary source material. Participating institutions benefit from the resources,
            technology, and training offered by RIAMCO, as well as support from a network of
            colleagues. Most importantly, membership in RIAMCO is free.</p>

        <p>The consortium provides the resources to:</p>
        <ul>
            <li>Administer the database
            <li>Develop and program the search and retrieval system
            <li>Develop and support tools for encoding and verifying the compliance of finding aids
            <li>Produce reports in support of assessment activities
            <li>Support and respond to usability testing
            <li>Provide technical consultation on the program's best practices
            <li>Provide long-term maintenance in the form of global changes/updates
        </ul>
        <p>The consortium also provides administrative and marketing services. These include:</p>
        <ul>
            <li>Governance
            <li>Coordination of the overall program
            <li>Dissemination to research communities
            <li>Identifying and applying for grants
            <li>Recruiting new members
            <li>Developing new programs
        </ul>

        <h2>Guidelines for Participating Institutions</h2>
        <p>Each repository must designate one individual to represent it on the RIAMCO
            Executive Committee. Those representatives will attend a minimum of one meeting
            per year.</p>

        <p>The extent to which repositories contribute finding aids to the database is
            entirely at the discretion of the repository; the consortium does not set
            specific annual quotas or goals for participants to meet.</p>

        <p>At least one computer per repository must meet the technical requirements
            necessary to create EAD finding aids. Internet access is necessary in order
            to validate and upload encoded finding aids.</p>

        <p>RIAMCO members retain copyright of the finding aids they place in the RIAMCO
            database and are credited in all dissemination efforts.</p>

        <p>Repositories many discontinue their relationship with RIAMCO at any time.
            There are two options to withdrawing:</p>
        <ul>
            <li>Withdraw from RIAMCO and no longer submit new finding aids but continue to have published finding aids available through RIAMCO. Former participants retain the right to update existing finding aids on the website but no longer have a say in the management of RIAMCO.
            <li>Withdraw completely from RIAMCO and remove finding aids from the RIAMCO database.
        </ul>

        <h2>How to Join</h2>
        <p>Once you have reviewed RIAMCO’s benefits and policies, please complete a
        <a href="http://riamco.org/RIAMCOApplication.pdf" target="_blank">RIAMCO Application</a>
        and submit it via e-mail or regular mail:</p>

        <p>Karen Eberhart<br />
        Manuscripts Processing Archivist<br />
        Brown University<br />
        John Hay Library, Box A<br />
        Providence, RI 02912<br />
        E-mail: <a href="mailto:contact@riamco.org">contact@riamco.org</a><br />
        Telephone: (401) 863-5309</p>

    </div>
</div>