<div class="container">
    <div class="row">

        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="participating">Participating Institutions</a>
            <a class="btn btn-default active" href="links">Links</a>
            <a class="btn btn-default" href="<%= home_resources_path() %>">Project Resources</a>
        </div>

        <h1>Links</h1>
        <div class="left_third">
        <h2>Archival Resources</h2>
        <ul>
            <li><a href="http://palmm2.fcla.edu/afl/">Archives Florida</a>
            <li><a href="http://archiveswest.orbiscascade.org/">Archives West</a>
            <li><a href="http://aao.lib.asu.edu/index.html">Arizona Archives Online</a>
            <li><a href="http://asteria.fivecolleges.edu/index.html">Five College Archives and Manuscript Collections</a>
            <li><a href="http://lcweb2.loc.gov/faid/faidfrquery.html">Library of Congress Finding Aids</a>
            <li><a href="http://www.hti.umich.edu/m/moagrp/index.html">Making of America</a>
            <li><a href="http://ead.ohiolink.edu/xtf-ead/">OhioLINK Finding Aid Repository</a>
            <li><a href="http://www.oac.cdlib.org">Online Archive of California</a>
            <li><a href="http://sos.ri.gov/rihrab/direct.html">Rhode Island Historical Records Advisory Board</a>
            <li><a href="http://rhodi.org/about-rhodi/how-to-use-rhodi">Rhode Island History Directory Initiative (RHODI)</a>
            <li><a href="http://rmoa.unm.edu/">Rocky Mountain Online Archive</a>
            <li><a href="http://www.lib.utexas.edu/taro/index.html">Texas Archival Resources Online</a>
        </ul>
        </div>

        <div class="middle_third">
        <h2>Digital Collections</h2>
        <ul>
            <li><a href="http://www.vancouver.wsu.edu/crbeha/">Columbia River Basin Ethnic Archive</a>
            <li><a href="http://www.cthistoryonline.org/">Connecticut History Online</a>
            <li><a href="http://www.aca-dla.org/">Digital Library of Appalachia</a>
            <li><a href="http://memory.loc.gov/ammem/index.html">The Library of Congress American Memory</a>
            <li><a href="http://www.mainememory.net/">Maine Memory Network</a>
            <li><a href="http://mwdl.org/"> Mountain West Digital Library</a>
            <li><a href="http://econtent.unm.edu/">New Mexico’s Digital Collections</a>
            <li><a href="http://www.cthistoryonline.org/cdm/">University of Connecticut Digital Mosaic</a>
            <li><a href="http://www.umvphotoarchive.org/">Upper Mississippi Valley Digital Image Archive</a>
            <li><a href="http://specialcollections.wichita.edu/western_trails/index.asp">Western Trails Collections</a>
            <li><a href="http://www.westernwaters.org/">Western Waters Digital Library</a>
        </ul>
        </div>

        <div class="right_third">
        <h2>Encoded Archival Description</h2>
        <ul>
            <li><a href="http://www.loc.gov/ead/"> EAD Official Site</a>
            <li><a href="http://www.archivists.org/saagroups/ead/"> EAD Help Pages</a>
            <li><a href="http://www.oclc.org/programs/ourwork/past/ead/bpg.pdf">RLG Best Practice Guidelines for EAD</a>
        </ul>

        <h2>Digitization</h2>
        <ul>
            <li><a href="http://memory.loc.gov/ammem/about/techStandards.pdf">Library of Congress Technical Standards for Digital Conversion of Text and Graphic Materials</a>
        </ul>
        </div>

    </div>
</div>

