<div class="container">
    <div class="row">
        <h1>Rhode Island Resources</h1>
        <ul>
            <li>Rhode Island History Directory Initiative (RHODI)
            <li>Rhode Island Historical Records Advisory Board
        </ul>

        <h1>New England Resources</h1>
        <ul>
            <li>Connecticut - Connecticut Digital Archive
            <li>Maine - Maine Memory Network
            <li>Massachusetts  - Five College Archives and Manuscript Collections
            <li>New Hampshire - New Hampshire Automated Information System
            <li>Vermont – ArcCat: Catalog of Vermont Archives and Manuscripts
        </ul>

        <h1>United States and International Resources</h1>
        <ul>
            <li>ArchiveGrid
            <li>Digital Public Library of America
            <li>Library of Congress Finding Aids

        </ul>

    </div>
</div>