<div class="container">
  <div class="row">

    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default" href="participating">Participating Institutions</a>
        <a class="btn btn-default" href="links">Links</a>
        <a class="btn btn-default active" href="<%= home_resources_path() %>">Project Resources</a>
    </div>


    <h2>Project Resources</h1>
    <ul>
        <li><a href="https://library.brown.edu/riamco_admin/login/?next=/riamco_admin/">RIAMCO Submission Database (members only)</a>
    </ul>

    <h2>Manuals</h2>
    <ul>
        <li><a href="http://library.brown.edu/riamco/pdf_files/RIAMCO Submission Database.pdf">RIAMCO Submission Database Manual</a>
        <li><a href="http://library.brown.edu/riamco/pdf_files/What is EAD - the basics.pdf">What is EAD - the basics</a>
        <li><a href="http://library.brown.edu/riamco/pdf_files/Required EAD tags for RIAMCO and sample finding aid.pdf">Required EAD tags for RIAMCO and sample finding aid</a>
        <li><a href="http://library.brown.edu/riamco/pdf_files/RIAMCO EAD creation with Notetab Pro Sep 2018.pdf">Create EAD finding aid using Notetab Pro</a>
        <li><a href="http://library.brown.edu/riamco/pdf_files/RIAMCO error messages.pdf">RIAMCO Error Messages</a>
        <li><a href="http://library.brown.edu/riamco/pdf_files/RIAMCO Date formats.pdf">RIAMCO Date Formats</a>
    </ul>