<div class="container">
    <div class="row">
        <h1>Rhode Island Resources</h1>
        <ul>
            <li><a href="http://rhodi.org/about-rhodi/how-to-use-rhodi">Rhode Island History Directory Initiative (RHODI)</a>
            <li><a href="http://sos.ri.gov/rihrab/direct.html">Rhode Island Historical Records Advisory Board</a>
        </ul>

        <h1>New England Resources</h1>
        <ul>
            <li>Connecticut - <a href="http://ctdigitalarchive.org/">Connecticut Digital Archive</a>
            <li>Maine - <a href="http://www.mainememory.net/">Maine Memory Network</a>
            <li>Massachusetts - <a href="http://asteria.fivecolleges.edu/index.html">Five College Archives and Manuscript Collections</a>
            <li>New Hampshire - <a href="http://www.nhu-pac.library.state.nh.us/ipac20/ipac.jsp?session=E530807982DU9.5741&profile=nhais&menu=search&ts=1530808118890">New Hampshire Automated Information System</a>
            <li>Vermont – <a href="http://arccat.uvm.edu/">ArcCat: Catalog of Vermont Archives and Manuscripts</a>
        </ul>

        <h1>United States and International Resources</h1>
        <ul>
            <li><a href="https://beta.worldcat.org/archivegrid/">ArchiveGrid</a>
            <li><a href="https://dp.la/">Digital Public Library of America</a>
            <li><a href="http://lcweb2.loc.gov/faid/faidfrquery.html">Library of Congress Finding Aids</a>
        </ul>
    </div>
</div>