<div class="main-text col-sm-10 content-margin-top">
    <h1>How to Submit Finding Aids to RIAMCO</h1>
    <p>Resources for RIAMCO submission:</p>
    <ul>
        <li><a href="//riamco.org/pdf_files/RIAMCO%20Submission%20Database.pdf">RIAMCO Submission Database Manual</a>
        <li><a href="//riamco.org/pdf_files/What%20is%20EAD%20-%20the%20basics.pdf">What is EAD - the basics</a>
        <li><a href="//riamco.org/pdf_files/EAD%20creation%20using%20Notetab%20Pro%202017.pdf">Create EAD finding aid using Notetab Pro</a>
        <li><a href="//riamco.org/pdf_files/Required%20EAD%20tags%20for%20RIAMCO%20and%20sample%20finding%20aid.pdf">Required EAD tags for RIAMCO and sample finding aid</a>
        <li><a href="//riamco.org/pdf_files/RIAMCO%20error%20messages.pdf">RIAMCO Error Messages</a>
        <li><a href="//riamco.org/pdf_files/RIAMCO%20Date%20formats.pdf">RIAMCO Date Formats</a>
        <li>Creating EAD using a spreadsheet
    </ul>

    <p>General resources for archival processing and EAD:</p>
    <ul>
        <li><a href="https://www2.archivists.org/groups/technical-subcommittee-on-describing-archives-a-content-standard-dacs/dacs">Describing Archives: A Content Standard</a> for writing finding aids
        <li><a href="http://www.loc.gov/ead/">EAD Official Site</a>
        <li><a href="https://www.loc.gov/ead/eadother.html">EAD Help Pages</a>
        <li><a href="https://www.oclc.org/content/dam/research/activities/ead/bpg.pdf">RLG Best Practice Guidelines for EAD</a>
        <li><a href="https://www.loc.gov/rr/ead/lcp/">EAD Best Practices at Library of Congress</a>
    </ul>
</div>

<div class="col-sm-2 hidden-print content-margin-top">
    <%= render "right_menu" %>
</div>