<style>
    h3 {
        font-size: 20px;
    }
</style>
<div class="container">
  <div class="row">

    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default" href="<%= home_finding_aid_path() %>">What Is a Finding Aid?</a>
        <a class="btn btn-default" href="<%= home_glossary_path() %>">Glossary</a>
        <a class="btn btn-default active" href="<%= home_visit_path() %>">Plan Your Visit</a>
    </div>

    <h1>Plan Your Visit</h1>
    <p><strong>What should I expect when visiting an archives or special collections library?</strong></p>
    
    <p>You have used RIAMCO&#39;s website to locate the primary sources you need and now you are ready 
    to look at the material. Here are five  easy steps to follow to access archival collections:</p>

    <h3>1. Identify what collection(s) you wish to view and which boxes you wish to see 
        within that collection</h3>
    <p>Each collection guide (also called a finding aid) contains an inventory that lists 
        what materials are in the collection and in what boxes they are stored. Select the 
        boxes you wish to view from here. If you have any questions, please contact the 
        host repository.</p>
    
    <h3>2. Contact the repository that houses the  material you want to see</h3>
    <p>Each  finding aid has a title page -- the first page you see when you open 
            the finding  aid -- which contains information about how to contact the 
            repository. Be sure  to call or email at least 48 hours before you plan 
            to visit with the collection  number (see glossary) and box numbers you 
            wish to see. Many repositories have  to retrieve materials from an off-site 
            location and cannot produce the  materials immediately upon request.</p>
            
     <h3>3. Be prepared to show identification, fill  out some paperwork, and lock 
        your personal belongings in a locker</h3>
        <p>While  all archivists and librarians want you to be able to see this special 
        stuff, we  also need to make sure it survives for future generations to 
        experience. We follow  these procedures with everyone who wishes to use 
        our materials. Find out the  rules about using your laptop and digital 
        camera when signing in.</p>
        
     <h3>4. Use your head, write with lead!</h3>
     <p>Bring  some pencils with you to the archives because pens are not allowed 
        (have you  ever had a pen explode on you before?). When you are using 
        the materials,  please do so with care. Pay attention to what you are 
        doing and how you are  doing it. If you have any doubts at all about 
        how to handle something, ask. We  are always happy to help. Remember, 
        most of these items are one-of-a-kind. If  something is ruined, there 
        are often no other copies to be had!</p>
        
      <h3>5. Spread the word!</h3>
      <p>After  your primary source experience, be sure to tell others about it. 
        The best way  to ensure that these exciting, interesting materials stay 
        accessible for years  to come is to continue having engaged patrons 
        like you. How do we do that? With  your help -- word of mouth!</p>

  </div>
</div>
