/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-default {
    margin-bottom: 15px;
}

.jumbotron {
    background-color: #e4e8f0;
    padding-top: 1px;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.footer {
    background-color: #e4e8f0;
    margin-top: 15px;
}

/*
 * source http://www.bootply.com/128062 
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }

@-webkit-keyframes spin2 {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
from { transform: scale(1) rotate(0deg);}
to { transform: scale(1) rotate(360deg);}
}

/* 
 * TODO: update to bold text on active, and change background to blue on hover
 */
.navbar-default .navbar-nav > .active > a {
    font-weight: bold;
    background-image: none;
}
