/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Used to force the content columns to have an extra margin */
 .content-margin-top {
	margin-top:10px;
}

.navbar-default {
    margin-bottom: 15px;
}

.topbar {
	color: white;
	background-color: #1e5a95;
	height: 60px;
	font-size: 20px;
	padding-left: 20px;
}

.topbar-heading {
	margin-bottom: 0px;
	padding-top: 3px;
}

.topbar-subheading {
	font-size: smaller;
	margin-bottom: 0px;
	margin-top: -2px;
}

/* https://css-tricks.com/child-and-sibling-selectors/ */
.topbar a {
	color: white;
}

.search-form {
	/* gray */
	/* background-color:  #e8e8e8; */
	/* gray-blueish */
	background-color: #eaeded;
	margin-top: 20px;
	padding: 20px 10px 10px 10px;
}

.jumbotron {
    background-color: #e4e8f0;
    padding-top: 1px;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.footer {
    background-color: #e4e8f0;
    margin-top: 15px;
}

/*
 * source http://www.bootply.com/128062
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }

@-webkit-keyframes spin2 {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
from { transform: scale(1) rotate(0deg);}
to { transform: scale(1) rotate(360deg);}
}

/*
 * TODO: update to bold text on active, and change background to blue on hover
 */
.navbar-default .navbar-nav > .active > a {
    font-weight: bold;
    background-image: none;
}

/*
 * Search Results
 */
.no-orphans {
	display: inline-block;
	white-space: nowrap;
}

em {
  background-color: #F3F5B3;  /* light yellow */
}

.result {
  padding-left: 15px;
}

.result-debug {
  padding-left: 15px;
  background-color: #e8fae8; /* light green */
}

.options {
	margin-top: 20px;
}

.facet {
	margin-left: 5px;
}

.facet_top_msg {
	opacity: 0.6;
	/* color: #e8e8e8; */
	margin-bottom: 0px;
	padding-left: 0px;
}

.facetLabel {
	color: #fff;
	margin: 0;
	padding: 1rem 0;
	font-size: 20px;
}

.facet-text-truncated {
  /* source https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.result-title {
  font-size: large;
}

/* results */
.results-wrapper {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	padding-right: 0px;
	padding-left: 0px;
}

.result-row {
	padding-bottom:10px;
	/* padding-left: 15px; */
}

.result-row > dl > dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}

.result-row > dl > dd {
  display: table;
  margin-left: 180px;
}

.result-row > .separator {
	border-bottom: 1px dotted #8f8d8d; /* darker gray */
}

.inventory-table {
  margin-top: 30px;
  margin-left: 65px;
  margin-bottom: 0px;
  width: 90%;
}

.inventory-table > tbody > tr > td {
	border: 1px solid #c1c1c3;  /* dark gray */
  padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
}

.inv-level {
	width: 10%;
}

.inv-container {
	width: 20%;
}

.inv-scope {
	width: 60%;
}

.inv-date {
	width: 10%;
}

.inventory-bottom {
  text-align: right;
  padding-right: 15px;
}

.results-stats {
	padding-top: 10px;
}

.facet-breadcrumbs {
  padding: 10px;
	background-color:#eaeded;
}

.facet-breadcrumbs .search-result-facets a {
	border: 1px solid gray;
	border-radius: 5px;
	display: inline-block;
	margin: 0 0 .5rem 0; /* negative margin to remove white space between inline-block span elements */
	padding: .5rem .8rem;
}

.categoryCount {
  color: #594036;
  margin: 0 -2px;
}

.pagination-top {
	margin-top: 15px;
}

.pagination-top hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.panel-group {
	margin-bottom: 7px
}

.panel-default {
	border: 1px solid #333;
}

.panel-default > .panel-heading {
	background-color: #1e5a95;
	background-image: none;
	background-repeat: no-repeat;
	border-bottom: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #fff;
	margin: 0 -.1rem;
}

.panel-heading {
	padding: 1px 10px;
}

.panel-body {
	padding-top: 5px;
}

.collapse {
	display: none;
}

.collapse-toggle {
	cursor: pointer;
}

.panel-heading.collapse-toggle .panel-title::before {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: left;
	color: grey;
	font-size: 0.8em;
	line-height: normal;
	padding-top: 15px;
	padding-right: 10px;
}

.panel-heading.collapse-toggle.collapsed .panel-title::before {
	content: "\e080";
}

