<div class="error-404-wrapper">
	<h1>Oops! Something went wrong</h1>
	<p>We've logged the error and will review it. However, if you need assistance,
	  please <a href="<%= home_contact_path() %>">let us know</a>.</p>

		<%= render "search_form_big" %>
</div>
